Repository khulnasoft-lab/khulnasoft-ui: changes, and which GitLab CI jobs are due for each by the changed paths.
All: populate_npm_cache, yarn_deduplicate

populate_npm_cache:
  image: node:22.13.1-bookworm
  variables:
    CYPRESS_INSTALL_BINARY: 0
  before_script:
  - apt-get update
  - apt-get install -y make
  - yarn install --frozen-lockfile
  cache:
    paths:
    - node_modules/
    key:
      files:
      - .gitlab-ci.yml
      - yarn.lock
      prefix: node_modules
    policy: push
  ...

yarn_deduplicate:
  image: node:22.13.1-bookworm
  variables:
    CYPRESS_INSTALL_BINARY: 0
  before_script:
  - apt-get update
  - apt-get install -y make
  - yarn install --frozen-lockfile
  cache:
    paths:
    - node_modules/
    key:
      files:
      - .gitlab-ci.yml
      - yarn.lock
      prefix: node_modules
    policy: pull
  stage: test
  ...

chore(release): 108.5.0 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

chore(release): 108.6.0 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

chore(release): 108.7.0 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

test(GlTruncate): Refactor/simplify
  src/components/utilities/truncate/truncate.spec.js
Due: none

feat(GlLabel): update scoped label title text color to text.color.strong
  src/components/base/label/label.scss
Due: none

feat(GlDatepicker): use variant prop on GlIcon for disabled control
  src/components/base/datepicker/datepicker.stories.js
  src/components/base/datepicker/datepicker.vue
Due: none

chore: update color class assertion spec test
  src/components/base/datepicker/datepicker.spec.js
  src/components/base/datepicker/datepicker.vue
Due: none

chore(release): 108.8.0 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

chore: Respect STORYBOOK_HOST more
  cypress.config.js
  package.json
Due: yarn_deduplicate

chore(deps): update dependency cypress to v14.0.2
  package.json
  yarn.lock
Due: populate_npm_cache, yarn_deduplicate

fix(GlTruncate): Prevent total whitespace collapse
  src/components/utilities/truncate/constants.js
  src/components/utilities/truncate/truncate.spec.js
  src/components/utilities/truncate/truncate.stories.js
  src/components/utilities/truncate/truncate.vue
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-utilities-truncate-default-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-utilities-truncate-position-middle-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-utilities-truncate-position-start-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-utilities-truncate-whitespace-preservation-1-snap.png
Due: none

chore(release): 108.8.1 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

refactor(GlCollapse): remove `BCollapse` component
  src/components/base/collapse/collapse.md
  src/components/base/collapse/collapse.spec.js
  src/components/base/collapse/collapse.stories.js
  src/components/base/collapse/collapse.vue
Due: none

docs(Vue3): Update FAQ about Vue 3 compatibility
  FAQ.md
Due: none

chore: Make Storybook port configurable
  FAQ.md
  cypress.config.js
  package.json
Due: yarn_deduplicate

feat(DesignTokens): Update neutral icons
  src/tokens/build/css/tokens.css
  src/tokens/build/css/tokens.dark.css
  src/tokens/build/js/tokens.dark.js
  src/tokens/build/js/tokens.js
  src/tokens/build/json/tokens.dark.json
  src/tokens/build/json/tokens.json
  src/tokens/build/scss/_tokens.dark.scss
  src/tokens/build/scss/_tokens.scss
  src/tokens/build/tailwind/tokens.cjs
  src/tokens/icon.tokens.json
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-dropdown-collapsible-listbox-searchable-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-dropdown-collapsible-listbox-searchable-groups-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-dropdown-deprecated-with-header-and-footer-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-dropdown-deprecated-with-icons-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-filtered-search-term-default-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-filtered-search-token-segment-with-static-options-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-filtered-search-token-with-static-options-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-form-form-default-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-form-form-select-default-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-form-form-select-disabled-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-form-form-select-invalid-state-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-form-form-select-valid-state-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-form-form-select-widths-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-form-form-select-with-truncation-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-path-default-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-path-with-popovers-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-search-box-by-type-borderless-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-search-box-by-type-default-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-tokens-icon-dark-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-tokens-icon-default-1-snap.png
Due: none

chore(release): 108.9.0 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

fix(GlCollapsibleListbox): fix button focus ring color in dark mode
  src/components/base/new_dropdowns/listbox/listbox.vue
Due: none

chore(GlTokenSelector): Fix a11y issues
  src/components/base/token_selector/token_container.vue
  src/components/base/token_selector/token_selector.scss
  src/components/base/token_selector/token_selector.vue
Due: none

chore(release): 108.9.1 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

feat(charts): Set up charts to auto generate long description
  src/components/charts/chart/chart.spec.js
  src/components/charts/chart/chart.vue
  src/components/charts/column/__snapshots__/column_chart.spec.js.snap
  src/components/charts/stacked_column/__snapshots__/stacked_column.spec.js.snap
  src/utils/charts/config.js
  src/utils/charts/mock_data.js
Due: none

chore(release): 108.10.0 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

chore(release): 109.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

feat(GlCollapsibleListbox): Visually highlight first result when searching
  cypress/e2e/listbox.cy.js
  src/components/base/new_dropdowns/dropdown_item.scss
  src/components/base/new_dropdowns/listbox/listbox.vue
  src/components/base/new_dropdowns/listbox/listbox_item.vue
Due: none

chore(deps): update dependency cypress to v14.0.3
  package.json
  yarn.lock
Due: populate_npm_cache, yarn_deduplicate

chore(deps): update dependency cypress to v14.1.0
  package.json
  yarn.lock
Due: populate_npm_cache, yarn_deduplicate

feat(GlChart): Remove deprecated "disable-theme" prop
  src/components/charts/chart/chart.vue
Due: none

chore(release): 109.1.0 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

chore(release): 109.2.0 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

chore: add typography Storybook story
  src/scss/typography.stories.js
Due: none

chore: update snapshots
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-scss-typography-blockquote-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-scss-typography-default-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-scss-typography-lists-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-scss-typography-tables-1-snap.png
Due: none

feat(charts): Removes GlChartTooltip component from published package
  src/charts.js
  src/components/charts/area/area.vue
  src/components/charts/bar/bar.spec.js
  src/components/charts/bar/bar.vue
  src/components/charts/column/column.vue
  src/components/charts/discrete_scatter/discrete_scatter.spec.js
  src/components/charts/discrete_scatter/discrete_scatter.vue
  src/components/charts/heatmap/heatmap.spec.js
  src/components/charts/heatmap/heatmap.vue
  src/components/charts/line/line.vue
  src/components/charts/shared/tooltip/tooltip.md
  src/components/charts/shared/tooltip/tooltip.scss
  src/components/charts/shared/tooltip/tooltip.spec.js
  src/components/charts/shared/tooltip/tooltip.stories.js
  src/components/charts/shared/tooltip/tooltip.vue
  src/components/charts/shared/tooltip/tooltip_default_format/tooltip_default_format.scss
  src/components/charts/shared/tooltip/tooltip_default_format/tooltip_default_format.spec.js
  src/components/charts/shared/tooltip/tooltip_default_format/tooltip_default_format.vue
  src/components/charts/sparkline/sparkline.vue
  src/components/charts/stacked_column/stacked_column.spec.js
  src/components/charts/stacked_column/stacked_column.vue
  src/scss/components.scss
  tests/__helpers__/chart_stubs.js
Due: none

fix(combobox): Combobox ARIA labeling
  src/components/base/dropdown/dropdown_item.vue
  src/components/base/form/form_combobox/form_combobox.spec.js
  src/components/base/form/form_combobox/form_combobox.stories.js
  src/components/base/form/form_combobox/form_combobox.vue
  src/vendor/bootstrap-vue/src/components/dropdown/dropdown-item-button.js
Due: none

refactor: remove cypress accessibility tests
  cypress/e2e/accordion.cy.js
  cypress/e2e/alert.cy.js
  cypress/e2e/avatar.cy.js
  cypress/e2e/badge.cy.js
  cypress/e2e/banner.cy.js
  cypress/e2e/breadcrumb.cy.js
  cypress/e2e/broadcast_message.cy.js
  cypress/e2e/button.cy.js
  cypress/e2e/card.cy.js
  cypress/e2e/datepicker.cy.js
  cypress/e2e/daterange_picker.cy.js
  cypress/e2e/disclosure_dropdown.cy.js
  cypress/e2e/drawer.cy.js
  cypress/e2e/filtered_search.cy.js
  cypress/e2e/form_character_count.cy.js
  cypress/e2e/form_checkbox.cy.js
  cypress/e2e/form_date.cy.js
  cypress/e2e/form_group.cy.js
  cypress/e2e/form_input.cy.js
Due: none

feat: use design tokens in Bootstrap .table class styles
  src/scss/typography.scss
  src/vendor/bootstrap/scss/_tables.scss
Due: none

chore(release): 109.2.1 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

chore(release): 110.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

chore: update snapshots
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-scss-typography-tables-1-snap.png
Due: none

chore(deps): update dependency eslint-plugin-storybook to v0.11.4
  package.json
  yarn.lock
Due: populate_npm_cache, yarn_deduplicate

chore(deps): update playwright to v1.51.0
  .gitlab-ci.yml
  package.json
  yarn.lock
Due: populate_npm_cache, yarn_deduplicate

Path conditions:
  populate_npm_cache: any of: .gitlab-ci.yml, yarn.lock
  yarn_deduplicate: any of: .gitlab-ci.yml, package.json, yarn.lock
