Repository khulnasoft-lab/khulnasoft-ui: changes, and which GitLab CI jobs are due for each by the changed paths.
All: populate_npm_cache, yarn_deduplicate

Path conditions:
  populate_npm_cache: any of: .gitlab-ci.yml, yarn.lock
  yarn_deduplicate: any of: .gitlab-ci.yml, package.json, yarn.lock

chore: update snapshots
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-button-emojis-1-snap.png
Due: none

refactor: add back breadcrumb & drawer tests
  cypress/e2e/breadcrumb.cy.js
  cypress/e2e/drawer.cy.js
Due: none

feat(GlLink): Remove `BLink` from `GlLink`
  src/components/base/button/button.spec.js
  src/components/base/link/link.md
  src/components/base/link/link.spec.js
  src/components/base/link/link.stories.js
  src/components/base/link/link.vue
  src/directives/safe_link/safe_link.js
  src/utils/constants.js
  src/utils/is_slot_empty.js
Due: none

chore(release): 110.1.0 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

refactor: remove cypress-axe package & related tests
  .gitlab-ci.yml
  cypress.config.js
  cypress/e2e/form_radio.cy.js
  cypress/e2e/form_select.cy.js
  cypress/e2e/form_textarea.cy.js
  cypress/e2e/icon.cy.js
  cypress/e2e/label.cy.js
  cypress/e2e/link.cy.js
  cypress/e2e/listbox.cy.js
  cypress/e2e/loading_icon.cy.js
  cypress/e2e/modal.cy.js
  cypress/e2e/pagination.cy.js
  cypress/e2e/path.cy.js
  cypress/e2e/popover.cy.js
  cypress/e2e/progress_bar.cy.js
  cypress/e2e/search_box_by_click.cy.js
  cypress/e2e/search_box_by_type.cy.js
  cypress/e2e/segmented_control.cy.js
  cypress/e2e/skeleton_loader.cy.js
  cypress/e2e/sorting.cy.js
  cypress/e2e/table.cy.js
  cypress/e2e/tabs.cy.js
  cypress/e2e/toast.cy.js
  cypress/e2e/toggle.cy.js
  cypress/e2e/token.cy.js
  cypress/e2e/tooltip.cy.js
  cypress/support/commands.js
  cypress/support/e2e.js
  doc/contributing/end_to_end_test.md
  package.json
  yarn.lock
Due: populate_npm_cache, yarn_deduplicate

feat(DesignTokens): define chart contextual design tokens
  src/components/charts/area/area.stories.js
  src/components/charts/discrete_scatter/discrete_scatter.vue
  src/components/charts/heatmap/heatmap.vue
  src/components/charts/legend/legend.stories.js
  src/components/charts/legend/legend.vue
  src/components/charts/line/line.vue
  src/components/charts/stacked_column/stacked_column.stories.js
  src/tokens/build/css/tokens.css
  src/tokens/build/css/tokens.dark.css
  src/tokens/build/js/tokens.dark.js
  src/tokens/build/js/tokens.js
  src/tokens/build/json/tokens.dark.json
  src/tokens/build/json/tokens.json
  src/tokens/build/scss/_tokens.dark.scss
  src/tokens/build/scss/_tokens.scss
  src/tokens/build/scss/_tokens_custom_properties.scss
  src/tokens/contextual/chart.tokens.json
  src/utils/charts/theme.js
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-charts-area-chart-with-custom-legend-items-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-charts-area-chart-with-zoom-and-scroll-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-charts-column-chart-with-zoom-and-scroll-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-charts-discrete-scatter-chart-with-zoom-and-scroll-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-charts-line-chart-with-zoom-and-scroll-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-charts-stacked-column-chart-with-zoom-and-scroll-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-dashboards-dashboards-panel-default-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-dashboards-dashboards-panel-with-actions-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-dashboards-dashboards-panel-with-border-color-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-dashboards-dashboards-panel-with-long-title-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-dashboards-dashboards-panel-with-title-icon-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-dashboards-dashboards-panel-with-title-popover-1-snap.png
Due: none

chore(release): 111.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

chore(release): 111.1.0 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

chore(Vue3): Remove slot check workaround
  src/utils/is_slot_empty.js
Due: none

feat(GlAnimatedIcon): add down-up, lg-down-up and lg-right-down chevrons
  src/components/base/animated_icon/animated_chevron_down_up_icon.vue
  src/components/base/animated_icon/animated_chevron_lg_down_up_icon.vue
  src/components/base/animated_icon/animated_chevron_lg_right_down_icon.vue
  src/components/base/animated_icon/animated_icon.scss
  src/components/base/animated_icon/animated_icon.stories.js
  src/index.js
Due: none

fix(DesignTokens): Add missing dropdown token keys
  src/tokens/build/css/tokens.css
  src/tokens/build/css/tokens.dark.css
  src/tokens/build/json/tokens.dark.json
  src/tokens/build/json/tokens.json
  src/tokens/build/scss/_tokens.dark.scss
  src/tokens/build/scss/_tokens.scss
  src/tokens/contextual/dropdown.tokens.json
Due: none

chore(release): 111.1.1 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

chore(release): 111.2.0 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

chore(deps): update dependency @babel/core to ^7.26.10
  package.json
  yarn.lock
Due: populate_npm_cache, yarn_deduplicate

chore(deps): update dependency cypress to v14.2.0
  package.json
  yarn.lock
Due: populate_npm_cache, yarn_deduplicate

chore: Fix workspaces setup in GitLab UI
  .devfile.yaml
  .vscode/tasks.json
  bin/initialize-workspaces.sh
  doc/contributing/workspaces.md
Due: none

feat(GlCollapsibleListbox): Add toggleId prop
  src/components/base/new_dropdowns/listbox/listbox.md
  src/components/base/new_dropdowns/listbox/listbox.stories.js
  src/components/base/new_dropdowns/listbox/listbox.vue
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-dropdown-collapsible-listbox-default-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-dropdown-collapsible-listbox-in-form-group-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-dropdown-collapsible-listbox-with-long-content-1-snap.png
Due: none

chore(release): 111.3.0 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

chore: Code review feedback
  .vscode/tasks.json
  bin/initialize-workspaces.sh
  doc/contributing/workspaces.md
Due: none

feat(DesignTokens): Replace illustration stroke width with unitless
  src/tokens/build/json/tokens.dark.json
  src/tokens/build/json/tokens.json
  src/tokens/contextual/illustration.tokens.json
Due: none

fix(GlTokenSelector): Remove text intput `aria-label` attr
  src/components/base/token_selector/token_selector.vue
Due: none

refactor(GlBadge): replace `BLink` with `GlLink`
  src/components/base/badge/badge.spec.js
  src/components/base/badge/badge.vue
  src/components/base/link/link.spec.js
  src/components/base/link/link.vue
  src/utils/constants.js
Due: none

chore(release): 111.3.1 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

refactor: fix form-input-group story accessibility violation
  src/components/base/form/form_input_group/form_input_group.stories.js
Due: none

chore(release): 111.4.0 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

refactor(GlFormInputGroup): remove Bootstrap Vue components
  src/components/base/form/form_input_group/form_input_group.spec.js
  src/components/base/form/form_input_group/form_input_group.stories.js
  src/components/base/form/form_input_group/form_input_group.vue
Due: none

feat(DesignTokens): Compile JSON files for Figma plugin
  bin/build_tokens.mjs
  src/tokens/build/figma/constants.tokens.json
  src/tokens/build/figma/contextual.tokens.json
  src/tokens/build/figma/deprecated.tokens.json
  src/tokens/build/figma/semantic.tokens.json
  src/tokens/contextual/alert.tokens.json
  src/tokens/contextual/dropdown.tokens.json
Due: none

chore(deps): update dependency eslint-plugin-storybook to v0.11.5
  package.json
  yarn.lock
Due: populate_npm_cache, yarn_deduplicate

chore(release): 111.5.0 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

chore(deps): update playwright to v1.51.1
  .gitlab-ci.yml
  package.json
  yarn.lock
Due: populate_npm_cache, yarn_deduplicate

fix(GlLink): fix passing of attributes to Vue 3 RouterLink
  src/components/base/link/link.spec.js
  src/components/base/link/link.vue
Due: none

chore(GlChart): Refactor chart specs and add story
  src/components/charts/chart/chart.spec.js
  src/components/charts/chart/chart.stories.js
Due: none

chore(GlChart): Refactor mocking of chart instance
  src/components/charts/area/area.spec.js
  src/components/charts/bar/bar.spec.js
  src/components/charts/chart/chart.spec.js
  src/components/charts/column/column_chart.spec.js
  src/components/charts/discrete_scatter/discrete_scatter.spec.js
  src/components/charts/gauge/gauge.spec.js
  src/components/charts/heatmap/heatmap.spec.js
  src/components/charts/legend/legend.spec.js
  src/components/charts/line/line.spec.js
  src/components/charts/shared/tooltip/tooltip.spec.js
  src/components/charts/sparkline/sparkline.spec.js
  src/components/charts/stacked_column/stacked_column.spec.js
  tests/__helpers__/chart_stubs.js
Due: none

chore: update snapshots
  src/components/charts/chart/chart.spec.js
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-charts-chart-with-toolbox-1-snap.png
Due: none

chore: Remove `BInputGroup` and `BFormInput` from vendored BSV
  src/components/base/search_box_by_type/search_box_by_type.stories.js
  src/vendor/bootstrap-vue/scripts/check-plugin-meta.mjs
  src/vendor/bootstrap-vue/src/components/form-input/README.md
  src/vendor/bootstrap-vue/src/components/form-input/form-input.js
  src/vendor/bootstrap-vue/src/components/form-input/form-input.spec.js
  src/vendor/bootstrap-vue/src/components/form-input/index.js
  src/vendor/bootstrap-vue/src/components/form-input/package.json
  src/vendor/bootstrap-vue/src/components/input-group/README.md
  src/vendor/bootstrap-vue/src/components/input-group/index.js
  src/vendor/bootstrap-vue/src/components/input-group/input-group-addon.js
  src/vendor/bootstrap-vue/src/components/input-group/input-group-append.js
  src/vendor/bootstrap-vue/src/components/input-group/input-group-append.spec.js
  src/vendor/bootstrap-vue/src/components/input-group/input-group-prepend.js
  src/vendor/bootstrap-vue/src/components/input-group/input-group-prepend.spec.js
  src/vendor/bootstrap-vue/src/components/input-group/input-group-text.js
  src/vendor/bootstrap-vue/src/components/input-group/input-group-text.spec.js
  src/vendor/bootstrap-vue/src/components/input-group/input-group.js
  src/vendor/bootstrap-vue/src/components/input-group/input-group.spec.js
  src/vendor/bootstrap-vue/src/components/input-group/package.json
  src/vendor/bootstrap-vue/src/constants/components.js
Due: none

fix(GlButtonGroup): Isolate button divider so it doesn't overlap others
  src/components/base/button_group/button_group.scss
Due: none

refactor(GlAccordion): replace BCollapse with GlCollapse
  src/components/base/accordion/accordion.spec.js
  src/components/base/accordion/accordion.vue
  src/components/base/accordion/accordion_item.spec.js
  src/components/base/accordion/accordion_item.stories.js
  src/components/base/accordion/accordion_item.vue
  src/components/base/accordion/constants.js
Due: none

feat(GlChart): Allow charts to opt-out of aria
  src/components/charts/chart/chart.spec.js
  src/components/charts/chart/chart.vue
  src/components/charts/column/__snapshots__/column_chart.spec.js.snap
  src/components/charts/stacked_column/__snapshots__/stacked_column.spec.js.snap
  src/utils/charts/config.js
Due: none

feat(GlDatepicker): Add global firstDay config
  src/components/base/datepicker/datepicker.spec.js
  src/components/base/datepicker/datepicker.vue
  src/config.js
  tests/jest_setup.js
Due: none
