Repository khulnasoft-lab/khulnasoft-ui: changes, and which GitLab CI jobs are due for each by the changed paths.
All: populate_npm_cache, yarn_deduplicate

populate_npm_cache:
  image: node:22.13.1-bookworm
  variables:
    CYPRESS_INSTALL_BINARY: 0
  before_script:
  - apt-get update
  - apt-get install -y make
  - yarn install --frozen-lockfile
  cache:
    paths:
    - node_modules/
    key:
      files:
      - .gitlab-ci.yml
      - yarn.lock
      prefix: node_modules
    policy: push
  ...

yarn_deduplicate:
  image: node:22.13.1-bookworm
  variables:
    CYPRESS_INSTALL_BINARY: 0
  before_script:
  - apt-get update
  - apt-get install -y make
  - yarn install --frozen-lockfile
  cache:
    paths:
    - node_modules/
    key:
      files:
      - .gitlab-ci.yml
      - yarn.lock
      prefix: node_modules
    policy: pull
  stage: test
  ...

chore(GlNavItem): Remove BNavItem dependency
  src/components/base/nav/nav_item.spec.js
  src/components/base/nav/nav_item.vue
Due: none

chore(DesignTokens): Clean build dirs in script
  Makefile
  bin/build_tokens.mjs
Due: none

chore(DesignTokens): Build faster
  bin/build_tokens.mjs
Due: none

docs: Document design token to tailwind classes relationship
  bin/build_tokens.mjs
  src/tokens/build/css/tokens.dark.css
  src/tokens/build/docs/tokens-tailwind-docs.dark.json
  src/tokens/build/docs/tokens-tailwind-docs.json
  src/tokens/tokens_tailwind.stories.js
  src/tokens/tokens_tailwind_table.vue
Due: none

fix(GlListbox): Allows listbox to accept null values as defaults
  src/components/base/new_dropdowns/listbox/listbox.spec.js
  src/components/base/new_dropdowns/listbox/listbox.vue
Due: none

chore(release): 112.3.2 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

chore(Bootstrap): Replace color variable from reset
  src/vendor/bootstrap/scss/_reboot.scss
Due: none

docs: use constant colors in color token stories
  src/internal/color_contrast/color_contrast.vue
  src/tokens/tokens_story.vue
Due: none

chore: add comment before skipped axe-core rules in stories
  src/components/base/accordion/accordion.stories.js
  src/components/base/button/button.stories.js
  src/components/base/dropdown/dropdown.stories.js
  src/components/base/dropdown/dropdown_item.stories.js
  src/components/base/filtered_search/filtered_search_suggestion.stories.js
  src/components/base/filtered_search/filtered_search_suggestion_list.stories.js
  src/components/base/filtered_search/filtered_search_term.stories.js
  src/components/base/filtered_search/filtered_search_token.stories.js
  src/components/base/filtered_search/filtered_search_token_segment.stories.js
  src/components/base/form/form_fields/form_fields.stories.js
  src/components/base/form/form_textarea/form_textarea.stories.js
  src/components/base/infinite_scroll/infinite_scroll.stories.js
  src/components/base/markdown/markdown.stories.js
  src/components/base/nav/nav.stories.js
  src/components/base/new_dropdowns/listbox/listbox.stories.js
  src/components/base/tabs/tabs/tabs.stories.js
  src/components/base/token_selector/token_selector.stories.js
Due: none

fix(DesignTokens): add custom format for JS output without comments
  bin/build_tokens.mjs
  src/tokens/build/js/tokens.dark.js
  src/tokens/build/js/tokens.js
Due: none

feat(GlForm): remove BForm from GlForm
  src/components/base/form/form.md
  src/components/base/form/form.spec.js
  src/components/base/form/form.stories.js
  src/components/base/form/form.vue
Due: none

chore(deps): update playwright to v1.52.0
  .gitlab-ci.yml
  package.json
  yarn.lock
Due: populate_npm_cache, yarn_deduplicate

chore(release): 112.3.3 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

feat(Token): Use design tokens
  src/components/base/filtered_search/filtered_search.scss
  src/components/base/filtered_search/filtered_search.vue
Due: none

chore(release): 113.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

feat(GlBadge): pass listeners to badge
  src/components/base/badge/badge.spec.js
  src/components/base/badge/badge.vue
Due: none

chore(release): 113.1.0 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

chore(release): 113.2.0 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

fix(deps): upgrade `@floating-ui/dom` to `v1.6.13`
  package.json
  yarn.lock
Due: populate_npm_cache, yarn_deduplicate

chore(e2e): drop `ResizeObsever` loop error handler
  cypress/support/e2e.js
Due: none

chore(deps): update dependency @gitlab/svgs to v3.127.0
  package.json
  yarn.lock
Due: populate_npm_cache, yarn_deduplicate

chore(deps): update dependency node to v22.15.0
  .gitlab-ci.yml
  .nvmrc
  .tool-versions
Due: populate_npm_cache, yarn_deduplicate

chore(ButtonGroup): Add interactive story
  src/components/base/button_group/button_group.stories.js
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-button-group-interactive-selected-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-button-group-selected-1-snap.png
Due: none

chore(deps): update dependency @gitlab/svgs to v3.127.1
  package.json
  yarn.lock
Due: populate_npm_cache, yarn_deduplicate

chore(deps): update dependency @gitlab/svgs to v3.128.0
  package.json
  yarn.lock
Due: populate_npm_cache, yarn_deduplicate

chore(release): 113.2.1 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

chore(filteredSearchToken): Remove deprecated classes from storybook entries
  src/components/base/filtered_search/filtered_search_token.stories.js
  src/components/base/filtered_search/filtered_search_token_segment.stories.js
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-filtered-search-token-default-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-filtered-search-token-segment-default-1-snap.png
Due: none

chore(SCSS): Migrate color attributes to use tailwind
  src/components/base/alert/alert.scss
  src/components/base/avatar/avatar.scss
  src/components/base/avatar_labeled/avatar_labeled.scss
  src/components/base/breadcrumb/breadcrumb.scss
  src/components/base/broadcast_message/broadcast_message.scss
  src/components/base/button/button.scss
  src/components/base/daterange_picker/daterange_picker.scss
  src/components/base/form/form_checkbox/form_checkbox.scss
  src/components/base/form/form_group/form_group.scss
  src/components/base/form/form_input/form_input.scss
  src/components/base/form/form_select/form_select.scss
  src/components/base/form/input_group_text/input_group_text.scss
  src/components/base/label/label.scss
  src/components/base/modal/modal.scss
  src/components/base/path/path.scss
  src/components/base/popover/popover.scss
  src/components/base/table/table.scss
  src/components/base/tabs/tabs/tabs.scss
  src/scss/body.scss
Due: none

fix(GlAlert): remove assertive aria-live
  src/components/base/alert/alert.spec.js
  src/components/base/alert/alert.vue
Due: none

fix(GlTruncate): add aria-label when truncating in the middle
  src/components/utilities/truncate/truncate.spec.js
  src/components/utilities/truncate/truncate.vue
Due: none

refactor: Optimise tailwind config generation
  bin/build_tokens.mjs
  bin/lib/tailwind_token_formatter.js
Due: none

chore(release): 113.2.2 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

chore(SkeletonLoader): migrate reduced motion color to use design token
  src/components/base/skeleton_loader/skeleton_loader.scss
  src/components/base/skeleton_loader/skeleton_loader.stories.js
  src/components/base/skeleton_loader/skeleton_loader.vue
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-skeleton-loader-reduced-motion-1-snap.png
Due: none

fix(FilteredSearchTerm): Fix view-only logic and remove unused deprecated class
  src/components/base/filtered_search/filtered_search_term.spec.js
  src/components/base/filtered_search/filtered_search_term.stories.js
  src/components/base/filtered_search/filtered_search_term.vue
  src/components/base/filtered_search/filtered_search_token_segment.scss
  src/components/base/filtered_search/filtered_search_token_segment.spec.js
  src/components/base/filtered_search/filtered_search_token_segment.vue
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-filtered-search-term-default-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-filtered-search-term-standalone-1-snap.png
Due: none

chore(release): 113.2.3 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

chore: Unify & fix default prop values in stories
  src/components/base/accordion/accordion.stories.js
  src/components/base/accordion/accordion_item.stories.js
  src/components/base/alert/alert.stories.js
  src/components/base/badge/badge.stories.js
  src/components/base/broadcast_message/broadcast_message.stories.js
  src/components/base/button/button.stories.js
  src/components/base/button_group/button_group.stories.js
  src/components/base/daterange_picker/daterange_picker.stories.js
  src/components/base/drawer/drawer.stories.js
  src/components/base/dropdown/dropdown.stories.js
  src/components/base/dropdown/dropdown_item.stories.js
  src/components/base/form/form_checkbox_tree/form_checkbox_tree.stories.js
  src/components/base/form/form_date/form_date.stories.js
  src/components/base/form/form_input_group/form_input_group.stories.js
  src/components/base/icon/icon.stories.js
  src/components/base/link/link.stories.js
  src/components/base/loading_icon/loading_icon.stories.js
  src/components/base/new_dropdowns/listbox/listbox.stories.js
  src/components/base/pagination/pagination.stories.js
  src/components/base/path/path.stories.js
  src/components/base/popover/popover.stories.js
  src/components/base/search_box_by_click/search_box_by_click.stories.js
  src/components/base/search_box_by_type/search_box_by_type.stories.js
  src/components/base/skeleton_loader/skeleton_loader.stories.js
  src/components/base/sorting/sorting.stories.js
  src/components/base/toggle/toggle.stories.js
  src/components/base/token/token.stories.js
  src/components/experimental/experiment_badge/experiment_badge.stories.js
  src/components/regions/dashboard_skeleton/dashboard_skeleton.stories.js
  src/components/utilities/animated_number/animated_number.stories.js
  src/components/utilities/friendly_wrap/friendly_wrap.stories.js
  src/components/utilities/truncate/truncate.stories.js
  src/utils/stories_utils.js
Due: none

chore(GlAlert): simplify spec
  src/components/base/alert/alert.spec.js
Due: none

feat(stylelint): add rule for deprecated color usage
  .stylelintignore
  .stylelintrc
  stylelint/no_gl_depreacted_design_tokens.js
Due: none

feat(DesignTokens): update stylesheets to remove deprecated color usage
  src/components/base/button/button.scss
  src/components/base/markdown/markdown.scss
  src/components/charts/legend/legend.scss
  src/components/charts/single_stat/single_stat.scss
  src/components/shared_components/clear_icon_button/clear_icon_button.scss
  src/scss/mixins.spec.scss
  src/scss/storybook.scss
  src/scss/storybook_dark_mode.scss
  src/scss/typescale/_index.scss
  src/scss/variables.scss
Due: none

chore: update snapshots
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-markdown-compact-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-markdown-documentation-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-scss-typescale-default-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-scss-typescale-typefaces-1-snap.png
Due: none

Path conditions:
  populate_npm_cache: any of: .gitlab-ci.yml, yarn.lock
  yarn_deduplicate: any of: .gitlab-ci.yml, package.json, yarn.lock
