Repository khulnasoft-lab/khulnasoft-ui: changes, and which GitLab CI jobs are due for each by the changed paths.
All: populate_npm_cache, yarn_deduplicate

Path conditions:
  populate_npm_cache: any of: .gitlab-ci.yml, yarn.lock
  yarn_deduplicate: any of: .gitlab-ci.yml, package.json, yarn.lock

chore(GlButtonGroup): Fix stories
  src/components/base/button_group/button_group.stories.js
Due: none

refactor(GlNav): Remove dependency on BNav
  src/components/base/nav/nav.spec.js
  src/components/base/nav/nav.vue
Due: none

chore(release): 112.2.0 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

chore(GlNav): Add controls for props to story
  src/components/base/nav/nav.stories.js
Due: none

chore: Upgrades tailwind-config-viewer
  yarn.lock
Due: populate_npm_cache, yarn_deduplicate

chore: upgrades npm-run-all
  yarn.lock
Due: populate_npm_cache, yarn_deduplicate

chore: Upgrades vue-loader
  yarn.lock
Due: populate_npm_cache, yarn_deduplicate

chore: upgrades rollup-plugin-vue
  yarn.lock
Due: populate_npm_cache, yarn_deduplicate

fix(GlKeysetPagination): Fix spacing between buttons
  src/components/base/keyset_pagination/keyset_pagination.vue
Due: none

chore: update snapshots
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-keyset-pagination-default-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-keyset-pagination-events-1-snap.png
Due: none

Create dependabot.yml
  .github/dependabot.yml
Due: none

chore(deps): update dependency dompurify to v3.2.5
  yarn.lock
Due: populate_npm_cache, yarn_deduplicate

fix(DesignTokens): remove size/pxToRem transform from dimension type
  bin/build_tokens.mjs
  src/tokens/build/css/tokens.css
  src/tokens/build/css/tokens.dark.css
  src/tokens/build/figma/constants.tokens.json
  src/tokens/build/js/tokens.dark.js
  src/tokens/build/js/tokens.js
  src/tokens/build/json/tokens.dark.json
  src/tokens/build/json/tokens.json
  src/tokens/build/scss/_tokens.dark.scss
  src/tokens/build/scss/_tokens.scss
  src/tokens/constant/line_height.tokens.json
Due: none

chore(release): 112.2.1 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

chore(release): 112.2.2 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

chore(GlNav): Add default values to props
  src/components/base/nav/nav.vue
Due: none

chore(GlNav): Add comments to props
  src/components/base/nav/nav.vue
Due: none

chore(GlNav): Update docs
  src/components/base/nav/nav.md
Due: none

chore: Upgrades the following packages:
  yarn.lock
Due: populate_npm_cache, yarn_deduplicate

chore: deduplicate Yarn lockfile
  yarn.lock
Due: populate_npm_cache, yarn_deduplicate

chore(release): 112.2.3 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

chore(deps): update dependency eslint-plugin-storybook to v0.12.0
  package.json
  yarn.lock
Due: populate_npm_cache, yarn_deduplicate

chore(GlNav): Trim migrated specs
  src/components/base/nav/nav.spec.js
Due: none

chore(GlNav): Bring back event forwarding
  src/components/base/nav/nav.vue
Due: none

docs: Add more design token governance details
  doc/contributing/design_tokens.md
Due: none

docs: Add design token naming convention documentation
  doc/contributing/design_tokens.md
Due: none

chore(deps): upgrade PostCSS dependencies
  package.json
  yarn.lock
Due: populate_npm_cache, yarn_deduplicate

chore: update snapshots
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-banner-default-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-banner-introduction-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-dropdown-collapsible-listbox-default-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-dropdown-collapsible-listbox-in-form-group-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-dropdown-collapsible-listbox-with-long-content-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-nav-default-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-regions-empty-state-custom-actions-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-regions-empty-state-default-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-regions-empty-state-not-fullscreen-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-regions-empty-state-single-button-1-snap.png
Due: none

chore(deps): upgrade `json5`
  package.json
  yarn.lock
Due: populate_npm_cache, yarn_deduplicate

chore(deps): resolve safe version of `loader-utils`
  package.json
  yarn.lock
Due: populate_npm_cache, yarn_deduplicate

chore(release): 112.3.0 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

chore(deps): update dependency cypress to v14.3.0
  package.json
  yarn.lock
Due: populate_npm_cache, yarn_deduplicate

fix(DesignTokens): add token.path conditional check
  bin/build_tokens.mjs
Due: none

fix(DesignTokens): use yarn build-tokens script for check tokens build
  bin/check_tokens_build.sh
Due: none

chore(release): 112.3.1 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

chore: update style-dictionary to 4.3.3
  package.json
  yarn.lock
Due: populate_npm_cache, yarn_deduplicate

chore: build tokens
  src/tokens/build/js/tokens.dark.js
  src/tokens/build/js/tokens.js
Due: none
