Repository khulnasoft-lab/khulnasoft-ui: changes, and which GitLab CI jobs are due for each by the changed paths.
All: populate_npm_cache, yarn_deduplicate

Path conditions:
  populate_npm_cache: any of: .gitlab-ci.yml, yarn.lock
  yarn_deduplicate: any of: .gitlab-ci.yml, package.json, yarn.lock

chore(release): 114.0.1 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

chore: add chart and dashboard components to axe-core validation
  .storybook/test-runner.ts
Due: none

feat(echarts): update to echarts@5.6.0
  package.json
  yarn.lock
Due: populate_npm_cache, yarn_deduplicate

docs: GlFormFields extend Storybook example
  src/components/base/form/form_fields/form_fields.stories.js
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-form-form-fields-default-1-snap.png
Due: none

chore(deps): update dependency node to v22.15.1
  .gitlab-ci.yml
  .nvmrc
  .tool-versions
Due: populate_npm_cache, yarn_deduplicate

chore(release): 114.1.0 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

chore(deps): update dependency dompurify to v3.2.6
  yarn.lock
Due: populate_npm_cache, yarn_deduplicate

chore(deps): update dependency node to v22.16.0
  .gitlab-ci.yml
  .nvmrc
  .tool-versions
Due: populate_npm_cache, yarn_deduplicate

fix: add missing eslint-config-standard dependencies
  package.json
  yarn.lock
Due: populate_npm_cache, yarn_deduplicate

fix: install missing eslint prettier plugin
  package.json
  yarn.lock
Due: populate_npm_cache, yarn_deduplicate

fix: install missing eslint prettier plugin
  lefthook.yml
Due: none

chore(deps): update dependency @floating-ui/dom to v1.7.1
  package.json
  yarn.lock
Due: populate_npm_cache, yarn_deduplicate

chore(deps): update dependency @khulnasoft/eslint-plugin to v1.0.2
  package.json
  yarn.lock
Due: populate_npm_cache, yarn_deduplicate

chore(deps): update dependency @vue/compat to v3.5.16
  yarn.lock
Due: populate_npm_cache, yarn_deduplicate

chore(deps): update dependency @vue/compiler-sfc to v3.5.16
  yarn.lock
Due: populate_npm_cache, yarn_deduplicate

chore(deps): update dependency @vue/server-renderer to v3.5.16
  yarn.lock
Due: populate_npm_cache, yarn_deduplicate

chore(deps): update dependency @babel/core to v7.27.4
  yarn.lock
Due: populate_npm_cache, yarn_deduplicate

chore(deps): update dependency @vue/test-utils to v1.3.6
  package.json
  yarn.lock
Due: populate_npm_cache, yarn_deduplicate

chore(deps): update dependency esbuild to v0.25.5
  yarn.lock
Due: populate_npm_cache, yarn_deduplicate

chore(deps): update dependency eslint-config-standard to v16.0.3
  src/vendor/bootstrap-vue/yarn.lock
Due: none

chore(deps): update dependency eslint-plugin-prettier to v5.4.1
  yarn.lock
Due: populate_npm_cache, yarn_deduplicate

chore(deps): update dependency eslint-plugin-prettier to v5.5.0
  yarn.lock
Due: populate_npm_cache, yarn_deduplicate

chore(deps): update dependency @vue/compat to v3.5.17
  yarn.lock
Due: populate_npm_cache, yarn_deduplicate

chore(deps): update dependency @vue/compiler-sfc to v3.5.17
  yarn.lock
Due: populate_npm_cache, yarn_deduplicate

chore(deps): update dependency @vue/server-renderer to v3.5.17
  yarn.lock
Due: populate_npm_cache, yarn_deduplicate
