Repository khulnasoft-lab/khulnasoft-ui: changes, and which GitLab CI jobs are due for each by the changed paths.
All: populate_npm_cache, yarn_deduplicate

populate_npm_cache:
  image: node:22.13.1-bookworm
  variables:
    CYPRESS_INSTALL_BINARY: 0
  before_script:
  - apt-get update
  - apt-get install -y make
  - yarn install --frozen-lockfile
  cache:
    paths:
    - node_modules/
    key:
      files:
      - .gitlab-ci.yml
      - yarn.lock
      prefix: node_modules
    policy: push
  ...

yarn_deduplicate:
  image: node:22.13.1-bookworm
  variables:
    CYPRESS_INSTALL_BINARY: 0
  before_script:
  - apt-get update
  - apt-get install -y make
  - yarn install --frozen-lockfile
  cache:
    paths:
    - node_modules/
    key:
      files:
      - .gitlab-ci.yml
      - yarn.lock
      prefix: node_modules
    policy: pull
  stage: test
  ...

chore: use regex literals in matchers
  stylelint/no_gl_depreacted_design_tokens.js
Due: none

chore: prettier fix
  stylelint/no_gl_depreacted_design_tokens.js
Due: none

chore: add comment and update values
  src/components/base/button/button.scss
  src/components/base/markdown/markdown.scss
  src/scss/variables.scss
Due: none

refactor: Optimise tailwind config generation
  bin/build_tokens.mjs
  bin/lib/tailwind_token_formatter.js
  bin/lib/tailwind_token_formatter.spec.js
Due: none

fix(GlBaseDropdown): use aria-labelledby properly
  src/components/base/new_dropdowns/base_dropdown/base_dropdown.spec.js
  src/components/base/new_dropdowns/base_dropdown/base_dropdown.vue
Due: none

chore(release): 113.2.4 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

chore(release): 113.3.0 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

refactor(GlDisclosureDropdownItem): Replace `BLink` with `GlLink`
  src/components/base/new_dropdowns/disclosure/disclosure_dropdown_item.spec.js
  src/components/base/new_dropdowns/disclosure/disclosure_dropdown_item.vue
Due: none

chore(deps): update babel to ^7.27.1
  package.json
  yarn.lock
Due: populate_npm_cache, yarn_deduplicate

chore(release): 113.3.1 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

fix(deps): update dependency @floating-ui/dom to v1.7.0
  package.json
  yarn.lock
Due: populate_npm_cache, yarn_deduplicate

chore(release): 113.3.2 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

chore(storybook): Migrate deprecated border gray colors
  src/components/base/filtered_search/filtered_search_token.stories.js
  src/components/base/filtered_search/filtered_search_token_segment.stories.js
Due: none

chore: update snapshots
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-filtered-search-token-segment-with-static-options-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-filtered-search-token-with-custom-operators-options-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-filtered-search-token-with-data-segment-input-attributes-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-filtered-search-token-with-static-options-1-snap.png
Due: none

docs(DesignTokens): link to design token alternative approaches
  doc/contributing/design_tokens.md
Due: none

feat(GlCollapsibleListbox): improve a11y support
  cypress/e2e/listbox.cy.js
  src/components/base/new_dropdowns/base_dropdown/base_dropdown.vue
  src/components/base/new_dropdowns/listbox/listbox.spec.js
  src/components/base/new_dropdowns/listbox/listbox.vue
  src/components/base/new_dropdowns/listbox/listbox_item.spec.js
  src/components/base/new_dropdowns/listbox/listbox_search_input.vue
  translations.js
Due: none

chore(deps): update dependency cypress to v14.3.2
  package.json
  yarn.lock
Due: populate_npm_cache, yarn_deduplicate

chore(deps): update dependency cypress to v14.3.3
  package.json
  yarn.lock
Due: populate_npm_cache, yarn_deduplicate

feat(BaseDropdown): Prevent dropdowns from overflowing viewport
  src/components/base/new_dropdowns/base_dropdown/base_dropdown.vue
Due: none

chore(deps): update dependency @babel/preset-env to ^7.27.2
  package.json
  yarn.lock
Due: populate_npm_cache, yarn_deduplicate

chore(deps): update dependency @gitlab/svgs to v3.129.0
  package.json
  yarn.lock
Due: populate_npm_cache, yarn_deduplicate

feat(CSS): define basic styles for <kbd> element
  src/scss/typography.scss
  src/vendor/bootstrap/scss/_code.scss
  src/vendor/bootstrap/scss/_variables.scss
Due: none

chore: update snapshots
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-scss-typography-default-1-snap.png
Due: none

chore(release): 113.4.0 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

chore(release): 113.5.0 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

feat(GlButton): remove BButton from GlButton
  src/components/base/alert/alert.spec.js
  src/components/base/button/button.md
  src/components/base/button/button.spec.js
  src/components/base/button/button.stories.js
  src/components/base/button/button.vue
  src/components/shared_components/clear_icon_button/__snapshots__/clear_icon_button.spec.js.snap
  src/components/shared_components/close_button/__snapshots__/close_button.spec.js.snap
Due: none

feat(GlDrawer): Remove explicit border
  src/components/base/drawer/drawer.scss
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-drawer-default-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-drawer-sidebar-variant-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-drawer-sticky-header-footer-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-drawer-with-actions-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-drawer-with-sticky-footer-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-drawer-with-sticky-footer-short-content-1-snap.png
Due: none

docs(GlDrawer): Update example content
  src/components/base/drawer/drawer.stories.js
Due: none

fix(stylelint): css variable regex
  src/scss/variables.scss
  stylelint/no_gl_depreacted_design_tokens.js
Due: none

chore(release): 113.5.1 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

fix(DesignTokens): add custom format for JS output without comments
  bin/build_tokens.mjs
  bin/lib/build_tokens_config.js
  bin/lib/build_tokens_config.spec.js
Due: none

chore(release): 113.5.2 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

chore(release): 113.6.0 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

chore(badge): Remove deprecated color class in story
  src/components/base/badge/badge.stories.js
Due: none

chore: update snapshots
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-badge-truncated-1-snap.png
Due: none

chore(release): 113.7.0 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

chore(release): 114.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

fix(GlColumnChart): Use correct stack values
  src/components/charts/column/__snapshots__/column_chart.spec.js.snap
  src/components/charts/column/column.vue
  src/components/charts/column/column_chart.spec.js
  src/components/charts/stacked_column/__snapshots__/stacked_column.spec.js.snap
  src/components/charts/stacked_column/stacked_column.spec.js
  src/components/charts/stacked_column/stacked_column.stories.js
  src/components/charts/stacked_column/stacked_column.vue
  src/utils/charts/config.js
  src/utils/charts/config.spec.js
  src/utils/charts/constants.js
  src/utils/constants.js
Due: none

chore(deps): update dependency @gitlab/svgs to v3.131.0
  package.json
  yarn.lock
Due: populate_npm_cache, yarn_deduplicate

Path conditions:
  populate_npm_cache: any of: .gitlab-ci.yml, yarn.lock
  yarn_deduplicate: any of: .gitlab-ci.yml, package.json, yarn.lock
