Repository khulnasoft-lab/khulnasoft-ui: changes, and which GitLab CI jobs are due for each by the changed paths.
All: populate_npm_cache, yarn_deduplicate

populate_npm_cache:
  image: node:22.13.1-bookworm
  variables:
    CYPRESS_INSTALL_BINARY: 0
  before_script:
  - apt-get update
  - apt-get install -y make
  - yarn install --frozen-lockfile
  cache:
    paths:
    - node_modules/
    key:
      files:
      - .gitlab-ci.yml
      - yarn.lock
      prefix: node_modules
    policy: push
  ...

yarn_deduplicate:
  image: node:22.13.1-bookworm
  variables:
    CYPRESS_INSTALL_BINARY: 0
  before_script:
  - apt-get update
  - apt-get install -y make
  - yarn install --frozen-lockfile
  cache:
    paths:
    - node_modules/
    key:
      files:
      - .gitlab-ci.yml
      - yarn.lock
      prefix: node_modules
    policy: pull
  stage: test
  ...

fix(GlButtonGroup): Fix specificity problem
  src/components/base/button_group/button_group.scss
Due: none

chore(release): 107.6.2 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

feat(Dropdown): Add indicator
  src/components/base/new_dropdowns/base_dropdown/base_dropdown.vue
  src/components/base/new_dropdowns/base_dropdown/constants.js
  src/components/base/new_dropdowns/disclosure/disclosure_dropdown.stories.js
  src/components/base/new_dropdowns/disclosure/disclosure_dropdown.vue
  src/components/base/new_dropdowns/dropdown.scss
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-dropdown-collapsible-listbox-custom-groups-and-items-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-dropdown-collapsible-listbox-custom-list-item-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-dropdown-collapsible-listbox-custom-toggle-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-dropdown-collapsible-listbox-default-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-dropdown-collapsible-listbox-group-without-label-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-dropdown-collapsible-listbox-groups-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-dropdown-collapsible-listbox-header-actions-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-dropdown-collapsible-listbox-header-and-footer-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-dropdown-collapsible-listbox-searchable-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-dropdown-collapsible-listbox-searchable-groups-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-dropdown-collapsible-listbox-with-long-content-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-dropdown-disclosure-dropdown-custom-groups-and-items-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-dropdown-disclosure-dropdown-custom-groups-items-and-toggle-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-dropdown-disclosure-dropdown-custom-list-item-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-dropdown-disclosure-dropdown-default-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-dropdown-disclosure-dropdown-groups-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-dropdown-disclosure-dropdown-miscellaneous-content-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-dropdown-disclosure-dropdown-viewport-positioning-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-filtered-search-with-history-items-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-sorting-default-1-snap.png
Due: none

chore(release): 107.7.0 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

fix(GlButtonGroup): fix specificity issue
  src/components/base/button_group/button_group.scss
Due: none

chore(release): 107.7.1 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

chore(deps): update dependency dompurify to v3.2.4
  yarn.lock
Due: populate_npm_cache, yarn_deduplicate

chore(deps): update playwright to v1.50.1
  .gitlab-ci.yml
  package.json
  yarn.lock
Due: populate_npm_cache, yarn_deduplicate

feat(GlBreadcrumb): Add `size` prop
  src/components/base/breadcrumb/breadcrumb.md
  src/components/base/breadcrumb/breadcrumb.scss
  src/components/base/breadcrumb/breadcrumb.spec.js
  src/components/base/breadcrumb/breadcrumb.stories.js
  src/components/base/breadcrumb/breadcrumb.vue
  src/components/base/breadcrumb/breadcrumb_item.spec.js
  src/components/base/breadcrumb/breadcrumb_item.vue
  src/utils/constants.js
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-breadcrumb-collapsed-medium-size-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-breadcrumb-medium-size-1-snap.png
Due: none

feat: remove BFormInput from GlFormInput
  src/components/base/form/form_fields/form_fields.spec.js
  src/components/base/form/form_input/form_input.md
  src/components/base/form/form_input/form_input.spec.js
  src/components/base/form/form_input/form_input.stories.js
  src/components/base/form/form_input/form_input.vue
  src/utils/utils.js
Due: none

chore(release): 108.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

fix: Correct GlSearchBoxByClick and GlSearchBoxByType component names
  src/components/base/search_box_by_click/search_box_by_click.vue
  src/components/base/search_box_by_type/search_box_by_type.vue
Due: none

fix: Correct the N letter
  src/components/base/search_box_by_type/search_box_by_type.vue
Due: none

chore(release): 108.0.1 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

feat(GlToast): Use token for action color
  src/components/base/toast/toast.scss
Due: none

chore(release): 108.1.0 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

chore(deps): update dependency eslint-plugin-storybook to v0.11.2
  package.json
  yarn.lock
Due: populate_npm_cache, yarn_deduplicate

feat(GlTable): Update empty state to use text.subtle
  src/components/base/table/table.vue
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-table-table-empty-1-snap.png
Due: none

chore: update snapshots
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-table-table-empty-1-snap.png
Due: none

chore(deps): update dependency @gitlab/svgs to v3.123.0
  package.json
  yarn.lock
Due: populate_npm_cache, yarn_deduplicate

chore(deps): update dependency axe-playwright to ^2.1.0
  package.json
  yarn.lock
Due: populate_npm_cache, yarn_deduplicate

chore(release): 108.2.0 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

chore(deps): update babel to ^7.26.8
  package.json
  yarn.lock
Due: populate_npm_cache, yarn_deduplicate

feat(GlAnimatedIcon): Add variant prop
  src/components/base/animated_icon/animated_chevron_right_down_icon.vue
  src/components/base/animated_icon/animated_duo_chat_icon.vue
  src/components/base/animated_icon/animated_icon.scss
  src/components/base/animated_icon/animated_icon.spec.js
  src/components/base/animated_icon/animated_icon.stories.js
  src/components/base/animated_icon/animated_loader_icon.vue
  src/components/base/animated_icon/animated_notifications_icon.vue
  src/components/base/animated_icon/animated_sidebar_icon.vue
  src/components/base/animated_icon/animated_smile_icon.vue
  src/components/base/animated_icon/animated_sort_icon.vue
  src/components/base/animated_icon/animated_star_icon.vue
  src/components/base/animated_icon/animated_todo_icon.vue
  src/components/base/animated_icon/animated_upload_icon.vue
  src/components/base/animated_icon/base_animated_icon.vue
  src/utils/constants.js
Due: none

ci: Remove pages_prefix from review app urls
  .gitlab-ci.yml
Due: populate_npm_cache, yarn_deduplicate

chore(release): 108.3.0 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

fix(GlDisclosureDropdownItem): remove improper aria-hidden
  src/components/base/new_dropdowns/disclosure/disclosure_dropdown_group.vue
Due: none

chore(deps): update dependency node to v22.14.0
  .gitlab-ci.yml
  .nvmrc
  .tool-versions
Due: populate_npm_cache, yarn_deduplicate

chore(release): 108.3.1 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

chore(deps): update babel to ^7.26.9
  package.json
  yarn.lock
Due: populate_npm_cache, yarn_deduplicate

chore(deps): update dependency eslint-plugin-storybook to v0.11.3
  package.json
  yarn.lock
Due: populate_npm_cache, yarn_deduplicate

feat(GlButtonGroup): Selected state
  src/components/base/button/button.scss
  src/components/base/button_group/button_group.scss
  src/components/base/button_group/button_group.stories.js
  src/tokens/build/css/tokens.css
  src/tokens/build/css/tokens.dark.css
  src/tokens/build/js/tokens.dark.js
  src/tokens/build/js/tokens.js
  src/tokens/build/json/tokens.dark.json
  src/tokens/build/json/tokens.json
  src/tokens/build/scss/_tokens.dark.scss
  src/tokens/build/scss/_tokens.scss
  src/tokens/contextual/button.tokens.json
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-button-emojis-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-button-group-selected-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-segmented-control-default-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-segmented-control-with-button-content-slot-1-snap.png
Due: none

chore(GlDaterangePicker): Fix a11y issue with label
  src/components/base/daterange_picker/daterange_picker.vue
Due: none

feat(GlLink): Add variants and use design tokens in GlLink
  src/components/base/avatar_labeled/avatar_labeled.vue
  src/components/base/avatar_link/avatar_link.vue
  src/components/base/link/link.md
  src/components/base/link/link.scss
  src/components/base/link/link.spec.js
  src/components/base/link/link.stories.js
  src/components/base/link/link.vue
  src/directives/safe_link/safe_link.js
  src/utils/constants.js
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-link-default-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-link-default-link-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-link-inline-external-link-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-link-inline-link-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-link-long-link-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-link-mention-link-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-link-mention-link-current-user-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-link-meta-link-1-snap.png
Due: none

docs(GlTable): add bordered prop table story
  src/components/base/table/table.stories.js
Due: none

chore(release): 108.4.0 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

fix(GlBreadcrumb): Hide breadcrumb item if it has no text
  src/components/base/breadcrumb/breadcrumb.spec.js
  src/components/base/breadcrumb/breadcrumb.vue
Due: none

chore(release): 108.4.1 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

feat(GlStackedColumnChart): Simplify chart tooltip API
  cypress/e2e/charts/stacked_column.cy.js
  src/components/charts/stacked_column/__snapshots__/stacked_column.spec.js.snap
  src/components/charts/stacked_column/stacked_column.spec.js
  src/components/charts/stacked_column/stacked_column.stories.js
  src/components/charts/stacked_column/stacked_column.vue
  src/utils/charts/config.js
  tests/__helpers__/chart_stubs.js
Due: none

Path conditions:
  populate_npm_cache: any of: .gitlab-ci.yml, yarn.lock
  yarn_deduplicate: any of: .gitlab-ci.yml, package.json, yarn.lock
