Repository khulnasoft-lab/khulnasoft-ui: changes, and which GitLab CI jobs are due for each by the changed paths.
All: populate_npm_cache, yarn_deduplicate

populate_npm_cache:
  image: node:22.13.1-bookworm
  variables:
    CYPRESS_INSTALL_BINARY: 0
  before_script:
  - apt-get update
  - apt-get install -y make
  - yarn install --frozen-lockfile
  cache:
    paths:
    - node_modules/
    key:
      files:
      - .gitlab-ci.yml
      - yarn.lock
      prefix: node_modules
    policy: push
  ...

yarn_deduplicate:
  image: node:22.13.1-bookworm
  variables:
    CYPRESS_INSTALL_BINARY: 0
  before_script:
  - apt-get update
  - apt-get install -y make
  - yarn install --frozen-lockfile
  cache:
    paths:
    - node_modules/
    key:
      files:
      - .gitlab-ci.yml
      - yarn.lock
      prefix: node_modules
    policy: pull
  stage: test
  ...

feat(GlTooltip): add custom global container selector
  src/components/base/avatar/avatar.stories.js
  src/components/base/avatar_labeled/avatar_labeled.stories.js
  src/components/base/avatars_inline/avatars_inline.stories.js
  src/components/base/breadcrumb/breadcrumb.vue
  src/components/base/daterange_picker/daterange_picker.vue
  src/components/base/filtered_search/filtered_search.spec.js
  src/components/base/filtered_search/filtered_search.vue
  src/components/base/form/form_group/form_group.stories.js
  src/components/base/search_box_by_click/search_box_by_click.vue
  src/components/base/sorting/sorting.vue
  src/components/base/tooltip/tooltip.spec.js
  src/components/base/tooltip/tooltip.stories.js
  src/components/base/tooltip/tooltip.vue
  src/components/shared_components/clear_icon_button/clear_icon_button.vue
  src/components/utilities/truncate/truncate.vue
  src/directives/tooltip.js
  src/directives/tooltip/container.js
  src/directives/tooltip/tooltip.js
  src/directives/tooltip/tooltip.spec.js
  src/index.js
  src/tokens/tokens_story.vue
  src/tokens/tokens_table.vue
  tests/jest_setup.js
Due: none

refactor(GlBreadcrumbItem): Replace BLink with GlLink
  src/components/base/breadcrumb/breadcrumb_item.spec.js
  src/components/base/breadcrumb/breadcrumb_item.vue
Due: none

chore(release): 111.6.0 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

chore(release): 111.7.0 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

fix(GlCollapsibleListbox): Enter press should toggle selection
  cypress/e2e/listbox.cy.js
  src/components/base/new_dropdowns/listbox/listbox.stories.js
  src/components/base/new_dropdowns/listbox/listbox.vue
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-dropdown-collapsible-listbox-searchable-multi-1-snap.png
Due: none

chore(release): 111.7.1 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

feat(GlCollapsibleListbox): Allow listbox options to have a null value
  cypress/e2e/listbox.cy.js
  src/components/base/new_dropdowns/listbox/listbox.md
  src/components/base/new_dropdowns/listbox/listbox.spec.js
  src/components/base/new_dropdowns/listbox/listbox.vue
  src/components/base/new_dropdowns/listbox/mock_data.js
  src/components/base/new_dropdowns/listbox/utils.js
  src/components/base/new_dropdowns/listbox/utils.spec.js
Due: none

fix(GlLineChart, GlAreaChart, GlStackedColumn): Fix tooltip updates
  src/components/charts/area/area.spec.js
  src/components/charts/area/area.vue
  src/components/charts/line/line.spec.js
  src/components/charts/line/line.vue
  src/components/charts/stacked_column/__snapshots__/stacked_column.spec.js.snap
  src/components/charts/stacked_column/stacked_column.spec.js
  src/components/charts/stacked_column/stacked_column.vue
  src/utils/charts/config.js
Due: none

chore(release): 111.8.0 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

chore(release): 111.8.1 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

chore(release): 111.9.0 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

chore(release): 111.9.1 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

chore(release): 111.10.0 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

chore(GlChart): Clean up legend configuration
  src/components/charts/area/area.vue
  src/components/charts/bar/bar.vue
  src/components/charts/column/column.stories.js
  src/components/charts/column/column.vue
  src/components/charts/discrete_scatter/discrete_scatter.vue
  src/components/charts/line/line.vue
  src/components/charts/stacked_column/stacked_column.vue
  src/utils/charts/config.js
  src/utils/charts/config.spec.js
  src/utils/charts/mock_data.js
Due: none

chore(GlCollapseToggleDirective): remove GlCollapseToggleDirective directive
  src/directives/collapse_toggle.js
  src/index.js
  src/vendor/bootstrap-vue/src/components/collapse/package.json
  src/vendor/bootstrap-vue/src/directives/toggle/README.md
  src/vendor/bootstrap-vue/src/directives/toggle/index.js
  src/vendor/bootstrap-vue/src/directives/toggle/package.json
  src/vendor/bootstrap-vue/src/directives/toggle/toggle.js
  src/vendor/bootstrap-vue/src/directives/toggle/toggle.spec.js
Due: none

chore(deps): update dependency cypress to v14.2.1
  package.json
  yarn.lock
Due: populate_npm_cache, yarn_deduplicate

chore(GlTable, GlTableLite): Document stacked behavior
  src/components/base/table/table.stories.js
  src/components/base/table_lite/table_lite.stories.js
Due: none

chore(deps): update dependency @gitlab/svgs to v3.126.0
  package.json
  yarn.lock
Due: populate_npm_cache, yarn_deduplicate

fix(GlAreaChart): Legend is updated on changes
  src/components/charts/area/area.spec.js
  src/components/charts/area/area.vue
Due: none

chore: update snapshots
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-banner-default-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-banner-introduction-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-regions-empty-state-custom-actions-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-regions-empty-state-default-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-regions-empty-state-no-buttons-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-regions-empty-state-not-fullscreen-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-regions-empty-state-single-button-1-snap.png
Due: none

chore: update snapshots
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-table-table-lite-stacked-1-snap.png
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-table-table-stacked-1-snap.png
Due: none

chore(release): 111.10.1 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

chore: remove redundant a11y skipped rules
  src/components/base/form/form_combobox/form_combobox.stories.js
  src/components/base/markdown/markdown.stories.js
  src/components/base/nav/nav.stories.js
Due: none

fix(GlAnimatedIcon): explicitly set animation properties
  src/components/base/animated_icon/animated_icon.scss
  src/components/base/animated_icon/animated_icon.stories.js
Due: none

fix(GlToggle): Fix label required if slot is used
  src/components/base/toggle/toggle.vue
Due: none

fix(GlLineChart, GlStackedColumn): Legend is updated on changes
  src/components/charts/line/line.spec.js
  src/components/charts/line/line.vue
  src/components/charts/stacked_column/stacked_column.spec.js
  src/components/charts/stacked_column/stacked_column.vue
Due: none

chore(release): 111.10.2 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

chore(GlNavItemDropdown): Remove component
  src/components/base/nav/nav.md
  src/components/base/nav/nav.stories.js
  src/components/base/nav/nav_item_dropdown.spec.js
  src/components/base/nav/nav_item_dropdown.vue
  src/index.js
Due: none

chore: update snapshots
  tests/__image_snapshots__/storyshots-spec-js-image-storyshots-base-nav-default-1-snap.png
Due: none

feat(GlAvatarLabeled): add label-link-click event
  src/components/base/avatar_labeled/avatar_labeled.spec.js
  src/components/base/avatar_labeled/avatar_labeled.vue
Due: none

chore(release): 112.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

chore: Remove BNavItemDropdown component
  src/scss/bootstrap_vue.scss
  src/vendor/bootstrap-vue/src/components/index.scss
  src/vendor/bootstrap-vue/src/components/nav/README.md
  src/vendor/bootstrap-vue/src/components/nav/_nav-item-dropdown.scss
  src/vendor/bootstrap-vue/src/components/nav/index.js
  src/vendor/bootstrap-vue/src/components/nav/index.scss
  src/vendor/bootstrap-vue/src/components/nav/nav-item-dropdown.js
  src/vendor/bootstrap-vue/src/components/nav/nav-item-dropdown.spec.js
  src/vendor/bootstrap-vue/src/components/nav/package.json
  src/vendor/bootstrap-vue/src/constants/components.js
Due: none

chore(release): 112.0.1 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

refactor(GlFormInputGroup): move BSV scss into `GlFormInputGroup`
  src/components/base/form/form_input_group/form_input_group.scss
  src/scss/bootstrap_vue.scss
  src/scss/components.scss
  src/vendor/bootstrap-vue/src/components/form-checkbox/_form-checkbox-group.scss
  src/vendor/bootstrap-vue/src/components/form-radio/_form-radio-group.scss
  src/vendor/bootstrap-vue/src/components/index.scss
  src/vendor/bootstrap-vue/src/components/input-group/_input-group.scss
  src/vendor/bootstrap-vue/src/components/input-group/index.scss
Due: none

chore(release): 112.1.0 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

chore(GlCollapse): Remove `BCollapse` component from BSV
  src/vendor/bootstrap-vue/src/components/collapse/MODIFICATIONS.md
  src/vendor/bootstrap-vue/src/components/collapse/README.md
  src/vendor/bootstrap-vue/src/components/collapse/collapse.js
  src/vendor/bootstrap-vue/src/components/collapse/collapse.spec.js
  src/vendor/bootstrap-vue/src/components/collapse/helpers/bv-collapse.js
  src/vendor/bootstrap-vue/src/components/collapse/index.js
  src/vendor/bootstrap-vue/src/components/collapse/package.json
  src/vendor/bootstrap-vue/src/constants/components.js
Due: none

fix(GlTooltip): use feedback.strong.text.color for tooltip scoped label
  src/components/base/label/label.scss
Due: none

chore(release): 112.1.1 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

chore(release): 112.1.2 [skip ci]
  CHANGELOG.md
  package.json
Due: yarn_deduplicate

feat(GlChartLegend): Localizes chart legend labels
  src/utils/charts/constants.js
  translations.js
Due: none

Path conditions:
  populate_npm_cache: any of: .gitlab-ci.yml, yarn.lock
  yarn_deduplicate: any of: .gitlab-ci.yml, package.json, yarn.lock
